version: '3'

services:
  elasticsearch:
    container_name: example_es
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.2
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=elastic
    healthcheck:
      test: curl --cacert /usr/share/elasticsearch/config/certificates/ca/ca.crt -s https://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      interval: 30s
      timeout: 10s
      retries: 5

  es_migration:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: example_es_migration
    volumes:
      - .:/app
    depends_on:
      elasticsearch:
          condition: service_healthy

    environment:
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=9200
    command: ["poetry", "run", "python","-m", "plagiarism.migrate"]


  example_fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: example_fastapi
    ports:
      - "8000:8000"
    depends_on:
      es_migration:
        condition: service_completed_successfully
    volumes:
      - .:/app
    environment:
      - ELASTICSEARCH_HOST=elasticsearch
      - FASTAPI_MODEL_PATH=/app/models/topic_predictor_dev.joblib
